#topbar {
  display: flex;
  height: 20px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #dddddd;
  border-bottom: 1px solid #222222;
}

#menuButton {
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  &:hover {
    border-right: 1px solid black;
    box-shadow: inset 0px 5px 5px 0px rgba(50, 50, 50, 0.45);
  }
}