#topbar {
  display: flex;
  height: 20px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #dddddd;
  border-bottom: 1px solid #222222;
}

#menuButton {
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  &:hover {
    border-right: 1px solid black;
    box-shadow: inset 0px 5px 5px 0px rgba(50, 50, 50, 0.45);
    
  }
}

#menu {
  display: none;
  position: absolute;
  background: #dddddd;
  top: 21px;
  left: 0;
  padding: 5px 0;
  border: 1px solid black;
  p {
    margin: 0;
    padding: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.253);
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    cursor: pointer;
    &:hover {
      box-shadow: inset 0px 5px 5px 0px rgba(50, 50, 50, 0.45);
      border-top: 1px solid rgb(0, 0, 0);
      border-bottom: 1px solid rgb(0, 0, 0);
    }
  }
}